.btn-group.btn-group-lg(style="margin-bottom: 15px; width: 100%", role="group")
  button.btn.btn-primary.nav-button(type="button", go-click="/views/main.html")
    span.glyphicon.glyphicon-home
  button.btn.btn-primary.nav-button(type="button", go-click="/views/fm.html")
    span.glyphicon.glyphicon-equalizer 
    | FM
  button.btn.btn-primary.nav-button(type="button")
    span.glyphicon.glyphicon-cog