
.jumbotron
  h1 &apos;Allo, &apos;Allo!
  p.lead
    img(src='images/yeoman.png', alt="I'm Yeoman")
    br
  p
    a.btn.btn-lg.btn-success(ng-href='#/')
      span.glyphicon.glyphicon-ok
.row.marketing
  h4 HTML5 Boilerplate
  p
  h4 Angular
  p
  h4 Karma
  p Spectacular Test Runner for JavaScript.