//- Add time and date
.row(style="height: 240px; overflow: hidden;")
  .col-xs-8(style="margin-top: 15px;")
    .row(style="margin-left: 5px")
      .col-xs-5(style="padding: 0")
        h3(style="margin: 0") 7/26/2016 5:30 PM
      .col-xs-7
        a.pull-right.btn.btn-lg.btn-primary(ng-href="#/")
          span.glyphicon.glyphicon-cog
    .row(style="margin-left: 5px")
      p 
        h2 Today 84&deg; F and 
          em.wi.wi-day-sunny
          |  with 54% RH 
        h3
          span.text-danger(style="margin-right: 10px") High: 85&deg; F
          span.text-info(style="margin-right: 10px") Low: 77&deg; F
          span
            em.wi.wi-sprinkle.text-info
            |  0%

  .col-xs-4
    .jumbotron(style="height: 220px; padding: 0; margin-top: 15px")
      .row
        h3 Mode: 
          span.text-danger Heat
        h4(style="margin-top: 20px") Current Temperature
        h1 74&deg; F
.row(style="height: 240px; overflow: hidden")
  .col-xs-8(ng-controller="NewsController")
    h3(ng-if="loadingNews") Loading news...
  .col-xs-4
    .jumbotron(style="height: 220px; padding: 0")
      .row
        h4 Set Temperature
        h2.text-primary(style="font-size: 4em") 74&deg; F
      .row.text-center
          a.btn.btn-lg.btn-info(ng-href='#/', style="margin-right: 15px")
            span.glyphicon.glyphicon-arrow-down(style="font-size: 2em")
          a.btn.btn-lg.btn-danger(ng-href='#/')
            span.glyphicon.glyphicon-arrow-up(style="font-size: 2em")